flask-d3/__pycache__/
flask2/web/__pycache__/
DS_Store
.DS_Store
test_data/
exploration/.ipynb_checkpoints/
env
.env
strava_token.json
strava_token1.json
activities1.json
activities.json

*/.DS_Store

# adding StravaDash folder to highlight the other project: user-analytics
StravaDash