<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v3.min.js"></script>

<head>
    <h1 align="center"><u>Strava Dashboard</u></h1>
                      
    <link rel="stylesheet" href="../css/style.css">                    
                                                
</head>

<body>

    <div id="activity_pie"></div>

    <script>
        var margin = 40;
        var width = 600;
        var height = 270;
        var radius = Math.min(width, height) / 2 - margin;

        var svg = d3.select("activity_pie")
            .append("svg")
            .attr('width', width)
            .attr('height', height)
            .append('g')
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var graphData = {{json_data | safe }}

    </script>


</body>
</html>